@model Entities.Models.Vehiculo

@{
    ViewBag.Title = "Detalles vehiculo";
}

<h2>Detalles</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dueño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dueño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_vehiculo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
